* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: 'Segoe UI', sans-serif; background-color: #d3ffb3; color: white; }
/* --- Ecrã Inicial --- */
.home-bg {
 background-color: #d3ffb3;
 background-size: cover;
 background-position: center;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}

.menu-container { padding: 20px;}
.hamburger { font-size: 30px; cursor: pointer; text-shadow: 2px 2px 4px rgba(0,0,0,0.8) position: absolute;
  right: 20px;
  top: 20px;}
.hidden { display: none; }
#nav-menu { background: rgba(255, 255, 255, 0.95); padding: 20px; border-radius: 10px;
width: 90%; margin: 10px auto; }
#nav-menu a { display: block; color: black; padding: 10px; text-decoration: none; font-weight: bold; }
.hero-content {
 flex-grow: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 text-shadow: 2px 2px 6px rgba(0,0,0,0.9);
}
.main-logo { width: 350px; border-radius: 20px; margin-bottom: 20px; }
/* Sobre */
.sobre-bg {
 background-color: #d3ffb3;
 background-size: cover;
 background-position: center;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}
/* História */
header { text-align: center; padding: 30px 20px 10px 20px; }
.history-bg {
 background-color: #d3ffb3;
 background-size: cover;
 background-position: center;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 padding: 20px; border-radius: 10px;
width: 90%; margin: 10px auto; }
.history-content {
 text-align: center; }
.history-text { font-size: 16px; line-height: 1.6; max-width: 500px; margin: 0 auto;
padding: 10px; text-align: justify; }
.history-list{ font-size: 16px; line-height: 1.6; max-width: 500px; margin: 0 auto;
padding: 10px; text-align: justify;}
/*vozes*/
.vozes-bg {
 background-color: #d3ffb3;
 background-size: cover;
 background-position: center;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}
/*Storycoard*/
.storyboard-bg {
 background-color: #d3ffb3;
 background-size: cover;
 background-position: center;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}
/*Animação*/
.animation-bg {
 background-color: #d3ffb3;
 background-size: cover;
 background-position: center;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}
/* Botão e Rodapé */
.btn {
    display: block;
    width: 250px;
    margin: 30px auto;
    padding: 18px;
    background-color: #76b900;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}
footer { text-align: center; color: rgba(255,255,255,0.7); font-size: 10px; padding:
10px; margin-top: auto; } 
